{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}<title>Авторизация</title>{% endblock title %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Вход в систему</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Войти</button>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}"><b>Забыли пароль?</b></a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Нет аккаунта?<a class="ml-2" href="{% url 'register' %}"><b>Зарегистрироваться</b></a>
            </small>
        </div>
    </div>
{% endblock content %}